################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/azure-blob/azure-blob/bin/Debug/net8.0
/azure-blob/azure-blob/obj
/azure-blob/.vs/azure-blob
